<p>
  <strong>Commenter:</strong>
  <%= @comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.body %>
</p>

<p>
    <li><%= link_to "Edit", edit_comment_path(@comment) %></li>
    <li><%= link_to "Delete", @comment, method: :Delete,
                                  data: { confirm: "Are you sure?" } %></li>
</p>